<html>
    <head>
        <title></title>
    </head>
    <body>
        <form action="/logout" method="post">
            <button type="submit" class='btn btn-info'>Log out</button>
        </form>
    </body>
</html>
